
<div class="container">
  <h2>List of Spells</h2>
  <div class="row">
    <ul style="list-style: none">
      <% @spells.each do |spell| %>
        <li>
          <%#= link_to spell.name, spell_path(spell) %>
          <div class="card mb-3" style="max-width: 900px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= spell.name %></h5>
                  <p class="card-text"><%= spell.ingredients.each {|item| item}.first.name %></p>
                  <p class="card-text"><%= spell.ingredients.each {|item| item}.first.benefit %></p>
                  <p class="card-text"><%= spell.ingredients.each {|item| item}.first.effect  %></p>
                  <p class="card-text"><%= Spell.photo_keyword(spell)  %></p>
                  <p class="card-text"><small class="text-muted">Created: <%= spell.updated_at %></small></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<h2>Spell Categories</h2>
<div class="fluid-container d-flex justify-content-start flex-wrap">
    <%# <ul> %>
    <% @spells.each do |spell| %>
    <%# photo = Unsplash::Photo.search(spell.kind).first[:urls][:raw] %>
    <% bg = "https://images.unsplash.com/photo-1590542981892-84397854f875?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" %>
    <div>
      <a href="#">
          <li class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1590542981892-84397854f875?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60)">
            <%= spell.kind %>
          </li>
      </a>
    </div>
    <% end %>
    <%# </ul> %>
</div>
