<h1>Spells#show</h1>
<hr>
<div class="container">
  <div class="row">
    <p class="text-center"><%= @spell.name %></p>
    <p class="text-center"><%= @spell.kind %></p>
    <p class="text-center"><%= @spell.level %></p>

    <%#= cl_image_tag @spell.photo.key , height: 300, width: 400, crop: :fill %>

    <% @spell.doses.each do |dose| %>
      <%= dose.instructions %>
    <% end %>
  </div>

  <%= link_to 'Edit', edit_spell_path(@spell) %> |
  <%= link_to 'Add dose', new_spell_dose_path(@spell) %> |
  <%= link_to 'Back', spells_path %>
</div>
